[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/harishkathpalia
[access "refs/for/refs/*"]
	read = group user/harishkathpalia
	push = group user/harishkathpalia
	label-Code-Review = -2..+2 group user/harishkathpalia
	label-Verified = -1..+1 group user/harishkathpalia
	rebase = group user/harishkathpalia
	removeReviewer = group user/harishkathpalia
	submit = group user/harishkathpalia
[access "refs/heads/*"]
	read = group user/harishkathpalia
	create = group user/harishkathpalia
	push = +force group user/harishkathpalia
	pushMerge = group user/harishkathpalia
[access "refs/tags/*"]
	push = +force group user/harishkathpalia
	pushTag = group user/harishkathpalia
	pushSignedTag = group user/harishkathpalia
